.history-container {
  text-align: left;
}

.history-container h1 {
  background-color: #282c34;
  padding: 20px;
  color: rgb(255, 255, 255);
  border: 2px solid #000;
}

.history-container table {
  width: 100%;
  border-collapse: collapse;
}

.history-container table, th, td {
  border: 1px solid black;
}

.history-container th, td {
  padding: 10px;
  text-align: left;
}
